* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    line-height: 1.6;
    color: #333;
  }
  .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .cta-button {
    border: 2px solid #fff;
    background-color: #333;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #555;
    color: #fff;
  }
  
  .rename-this-class {
    transform: translateY(-50%);
    text-align: center;
    font-size: 24px;
  }
  
  header {
    background-color: rgb(249, 249, 249);
    padding: 5px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo img {
    height: auto;
    width: 100px;
    object-fit: contain;
    margin: 0 10px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  header nav ul li a:hover {
    background: #34495e;
  }
  
.color-customizer {
    margin-bottom: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
}
.try-on-container {
    display: flex;
    justify-content: space-between;
}

.clothing img {
    width: 300px;
    height: auto;
}

.fabric-selection button {
    margin: 10px;
}

